.f-14 {
    font-size: 14px;
}

.t-01 {
    color: #0162DD !important;
}

.p-48 {
    width: 48px;
    height: 48px;
    background-color: #F2F2F2;
}

.BrandingName2 {
    font-size: 18px !important;
}

.t_decoration {
    text-decoration: underline !important;
}


/* App.css */


.MyTable {
    border: 1px solid #E2E8F0;
    width: 100%;
    border-radius: 8px !important;
    border-color: #E2E8F0 !important;

    tbody {
        tr {
            td {
                color: #444444 !important;
            }

            th {
                width: 173px !important;
                font-size: 14px;
                color: #444444 !important;
                font-weight: 400;
                background-color: #F2F2F2 !important;
            }
        }
    }
}


.MyTable2 {
    border: 1px solid #E9EBF8;
    width: 100%;
    border-radius: 8px !important;

    tbody {

        tr {
            margin-left: 20px;
            td{
                color: #444444 !important;
            }
        }

        th,
        td {
            padding: 8px;
            text-align: left;
        }

        th {
            width: 173px !important;
            background-color: #f2f2f2;
        }
    }

}


.row-header {
    padding: 16px 0px 4px 15px;
    background-color: #f9f9f9;

}



.border-E9 {
    border-bottom: 1px solid #E9E9E9 !important;
}

.plus2 {

    background-color: #182390;
    color: white;
    cursor: pointer;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
}


.del2 {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgba(24, 35, 144, 0.2);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    color: #182390;
}

.counterCenter2 {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-right: 30px; */
}

.counter2 {
    width: 34px;
    height: 34px;
    border: 1.5px solid #E2E8F0;
    text-align: center;
    font-size: 12px;
    border-radius: 2px;
}


.buttonSebet {
    background-color: #182390;
    border-radius: 8px;

    button {
        color: white;
    }
}

.Heart2 {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: rgba(242, 242, 242, 0.5);
}

.fb-800 {
    font-weight: 800 !important;
}

.bg_F2 {
    background-color: #F2F2F2;
}

.f_28{
    font-size: 28px;
}