.print{
    width: 137px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #0162DD;
    border-radius: 6px;
    color: #0162DD;
}

.f-18{
    font-size: 18px;
}